.checkout-details{
    display: flex;
  	align-items: center; /* aligns all the items vertically centered */
  	justify-content: center;
}
.checkOutForm{
    padding:10px;
    width:40%;
}
.table-div{
    padding:10px;
    width:60%;
}
.table-checkout{
    width:100%;
    /* border: 1px solid black; */
}
.table-checkout, tr, td, th{
    /* border: 1px solid black; */
    text-align: left;
    border-collapse: collapse;
}
td, th{
    width:20%;
}
.checkout-img{
    width:100px;
}
tr:nth-child(even) {
    background-color: #f0eeeeee;
  }

  tfoot tr:nth-child(even) {
    background-color: #ff4c3442;
  }  

tr {
    border-bottom: 1px solid #ddd;
  }
  tr:hover {background-color: #e9ebeb;}
  tfoot tr:hover {background-color: #fac9fada;}
  
  .payment-mode td, .payment-mode td a{
    border-top: 1px solid black;
    padding:10px;
    text-align: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}
/* qty increment and decrement */
.quantity-input {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px;
    width: 100px;
    height: 50px;

  }
  .quantity-input:focus {
    background: red;
  }
  
  .quantity-input__modifier,
  .quantity-input__screen {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: none;
  }
  
  .quantity-input__modifier {
    padding: 0.7rem 0.3rem;
    width: 2rem;
    font-size: 1.5rem;
    background: #f3f3f3;
    color: #888;
    border: 0 solid #dbdbdb;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    cursor: pointer;
  }
  .quantity-input__modifier:hover {
    background: #dadada;
    color: #555555;
  }
  .quantity-input__modifier--left {
    border-radius: 3px 0 0 3px;
    background-color: #fd4c4c;
    color: #ffffff;
  }
  .quantity-input__modifier--right {
    border-radius: 0 3px 3px 0;
    background-color: #329729;
    color: #ffffff;
  }
  
  .quantity-input__screen {
    width: 3rem;
    padding: 0.7rem;
    font-size: 1.5rem;
    border: 0;
    border-top: 0 solid #dbdbdb;
    border-bottom: 0 solid #dbdbdb;
    text-align: center;
  }
  .checkOutForm .login-page select{
    height: 45px;
    width: 100%;
    border-block-color: red;
    background: none;
    color: slategrey;
  }